* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: sans-serif;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px dotted #ccc
}


nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.shomitro {
    margin-top: 100px;
    margin-left: 100px;
    text-align: left;
    max-width: 600px;
}

.ontor{
    color: #ccc;
    background-color: #ec407a;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 30px;


}
.right img {
    margin-right: 100px;
    width: 280px;
    border-radius: 50px;
    margin-top: 0;
    border-radius: 50%;
    /* Gol korar jonno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* Halka shadow */
    
}

.kumar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    left: 20px;
    /* Padding added for spacing */
   
}

.secoend-div {
  margin-top: 130px;
}

.design {
display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-top: 20px;
  margin-top: 210px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 column fixed */
    gap: 100px;
    max-width: 1100px;
    margin: 100px auto; /* Center horizontally */
    padding: 0 20px; /* Responsive spacing */
}

.card{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); green, blue, alpha);
    text-align: center;
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}
.card h3{
    margin: 10px 0 5px;
}
.card .price{
    font-weight: bold;
    color: #333;
}
.card .rating{
    color: orange;
    font-weight: bold;
}


.feature-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 150px;

    
}


.feature-image img{
    max-width: 500px;
    border-radius: 10px;

}

.feature-content{
   max-width: 500px;
   text-align: left;

}
.feature-content h1{
    font-size: 32px;
    font-weight: 700px;
    margin-bottom: 20px;

}
.feature-content p{
    color: #444;
    font-size: 16px;
    margin-bottom: 20px;

}
.join-btn{
    display: inline-block;
    padding: 12px 25px;
    background-color: #f83f88;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}



footer {
   background-color: #2a052e;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    border-radius: 10px; /* 4 corner halka bakano */
     max-width: 1400px;     /* Box ta chhoto korar jonno */
    margin: 0 auto;       /* Center e rakhte */
    
}

.footer-section {
    max-width: 600px;
    margin: auto;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.footer-section h4 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
}

.studio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.studio img {
    width: 30px;   /* icon choto kore */
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.studio img:hover {
    transform: scale(1.2); /* hover korle icon boro hoye jabe */
}

